.btn{
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  align-self: center;
  transition: all 0.5s;
}
.btn:hover{
  position: relative;
    transform: translateY(-50px);
    color: antiquewhite;
}